.form-container{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}
.form-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}
.form-control{
    padding: 0px 40px;
    margin-bottom: 20px;
}
.form-control label{
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.0015em;
    color: #2A414F;
    margin-bottom: 10px;
}
.form-control input{
    width: 415px;
    height: 40px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 5px;
}
.btn-submit{
    margin: 0px 40px;
    padding: 5px;
    width: 425px;
    height: 40px;
    cursor: pointer;
    background-color: bisque;
    border: none;
}
.create-new-account{
    text-align: center;
}